* {margin: 0;padding: 0;}
body {
	background-color: darkgreen;
	background-attachment: fixed;
	background-image: url(../img/background.jpg);
	background-repeat: no-repeat;
	background-position: center top;
}
#main {
	width: 1000px;
	margin: 10px auto;

}

#menu {
	width: 1000px;
	float: left;
	background-image: url(../img/title_on.gif);
	background-repeat: repeat;  
}
#header {
	height: 180px;
	width: 1000px;
    
}
#container {
	width: 100%;
	overflow: hidden;
}

#content {
	width: 715px;
	float: left;
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 0px;
}

#sideRight {
	float: left;
	width: 280px;
	margin-top: 5px;
}
#footer {
	color: #060;
	background-color: #FFDE17;
}

#nav-container {
	height: 28px;
	font-weight: bold;
	background: url(../img/title_on.gif) repeat-x scroll left top transparent;
}


.nav li {
    float:left;
    list-style:none;
    position:relative
}
.nav li a {
    
    border:none;
    color: #006736;
    display:block;
    padding:5px 20px 5px 8px;
    text-decoration: none;
}


.nav {
	display: block;
	margin: 0;
	position: absolute;
	z-index: 100;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.nav > li > a:hover {
	background: green;
	color: #FFC;
	padding: 5px 20px 5px 8px
}


.nav li ul {
    -moz-box-shadow:1px 1px 1px #333;
    -webkit-border-bottom-right-radius:3px;
    -webkit-box-shadow:1px 1px 1px #333;
    background: green;

    box-shadow:1px 1px 1px #333;
    color:#222;
    display:none;
    margin:0;
    padding:2px 0;
    position:absolute;
    width:150px;
}
.nav li ul li {
    width:100%
}
.nav li ul li a {
	background: green;
	border: none;
	color: #FFC;
	line-height: 25px;
	margin: 0;
	padding: 0 0 0 8px
}
.nav li ul li a:hover {
    background: #FFFF80;
    color: #000;
}
.nav li ul li.strong-archive a {
    border-top:1px solid #466A90;
    font-weight:600
}


.nav li.current > a {
	background: green;
	box-shadow: 1px 1px 1px #333;
	color: #FFC
}


.nav li:hover > ul.child {
    display:block
}

#featured{ 
	width:580px; 
	padding-right:120px; 
	position:relative; 
	border:5px solid #FFDE17; 
	height:400px; overflow:hidden;
	background:#fff;
}
#featured ul.ui-tabs-nav{ 
	position:absolute; 
	top:0; left:560px; 
	list-style:none; 
	padding:0; margin:0; 
	width:150px; height:400px;
	overflow:auto;
	overflow-x:hidden;
}
#featured ul.ui-tabs-nav li{ 
	padding: 0; padding-left:13px;  
	font-size:12px; 
	color:#666; 
}
#featured ul.ui-tabs-nav li img{ 
	float:left;
    margin: 2px 5px 0 10px; 
	background:#fff; 
	
}
#featured ul.ui-tabs-nav li span{ 
	font-size:11px; font-family:Verdana; 
	line-height:18px; 
}
#featured li.ui-tabs-nav-item a{ 
	display:block; 
     margin: 0 0 4px 0;
	height:96px; text-decoration:none;
	color:#333;  background:#fff; 
	line-height:20px; outline:none;
}
#featured li.ui-tabs-nav-item a:hover{ 
	background:#f2f2f2; 
}

#featured ul.ui-tabs-nav li.ui-tabs-selected a, #featured ul.ui-tabs-nav li.ui-tabs-active a{ 
	background:#ccc; 
}
#featured .ui-tabs-panel{ 
	width:580px; height:400px; 
	background:#999; position:relative;
}
#featured .ui-tabs-panel .info{ 
	position:absolute; 
	bottom:0; left:0; 
	width: 570px;
    padding: 5px;
	background: url('../images/transparent-bg.png'); 
}
#featured .ui-tabs-panel .info a.hideshow{
	position:absolute; font-size:11px; font-family:Verdana; color:#f0f0f0; right:10px; top:-20px; line-height:20px; margin:0; outline:none; background:#333;
}
#featured .info h2{ 
	font-size:20px; font-family:Georgia, serif; 
	color:#fff; padding:5px; margin:0; font-weight:normal;
	overflow:hidden; 
}
#featured .info p{ 
	margin:0 5px; 
	font-family:Verdana; font-size:11px; 
	line-height:15px; color:#f0f0f0;
}
#featured .info a{ 
	text-decoration:none; 
	color:#fff; 
}
#featured .info a:hover{ 
	text-decoration:underline; 
}
#featured .ui-tabs-hide{ 
	display:none; 
}

#game {
	clear: none;
	position: relative;
	float: left;
	margin-top: 10px;
	margin-right: 0;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 400px;
	height: 220px;
    }
#game table {
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
	color: #000000;
}
#tabs{
    overflow: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}
#tabs li{
	float: left;
	margin: 0 15px 0 0;
}
#tabs a{
	position: relative;
	background-image: url(../img/title_on.gif);
	float: left;
	text-decoration: none;
	color: #006736;
	box-shadow: 0 2px 2px rgba(0,0,0,.4);
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	background-repeat: repeat-x;
	font-weight: bold;
	border-radius: 5px 0 0 0;
}
#tabs a:hover,
#tabs a:hover::after,
#tabs a:focus,
#tabs a:focus::after{
  background: #fff;
}
#tabs a:focus{
  outline: 0;
}
#tabs a::after{
	content: '';
	position: absolute;
	z-index: 1;
	top: 0;
	right: -.5em;
	bottom: 0;
	width: 1em;
	background-image: url(../img/title_on.gif);
	box-shadow: 2px 2px 2px rgba(0,0,0,.4);
	transform: skew(10deg);
	background-repeat: repeat-x;
	border-radius: 0 5px 0 0;
}
#tabs #current a,
#tabs #current a::after{
    background: #fff;
    z-index: 3;
}
#tabscontent
{
	background: #fff;
	padding: 10px;
	position: relative;
	z-index: 2;
	box-shadow: 0 -2px 3px -2px rgba(0, 0, 0, .5);
}
#photo {
	float: left;
	width: 290px;
	margin-top: 10px;
	background-color: #FFDE17;
	margin-left: 10px;
	height: 220px;
	border: 5px solid #FFDE17;
}
#photo th {
	border: none;
	color: #006736;
	display: block;
	padding: 5px 20px 5px 8px;
	text-decoration: none;
	background-image: url(../img/title_on.gif);
	background-repeat: repeat-x;
	border: 1px solid #FFDE17;
}

 table {
    *border-collapse: collapse; 
    border-spacing: 0;
    width: 100%;    
}
.bordered{
   
}

.bordered tr:hover {
    background: #006736;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;     
}    
    
.bordered td, .bordered th {
	padding: 4px;
	text-align: center;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #FFDE17;
}    
.bordered th {
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
	box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
	border-top: none;
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
	color: #006736;
	background-image: url(../img/title_on.gif);
	background-repeat: repeat-x;
}

.bordered td:first-child, .bordered th:first-child {
    border-left: none;
}

.bordered th:first-child {
  
}

.bordered th:last-child {
  
}

.bordered tr:last-child td:first-child {
   
}
.bordered tr:last-child td:last-child {
  
}
#newsRight {
	background-color: #FFFFFF;
	border: 1px solid #FFDE17;
}
.sideRighthead {
	background-image: url(../img/title_on.gif);
	background-repeat: repeat-x;
	color: #006736;
	font-weight: bold;
	padding: 5px;
	text-transform: uppercase;
	border: 1px solid #FFDE17;
	margin-bottom: 10px;
	text-align: center;
}

.newsRight {
	margin: 5px;
	padding-bottom: 8px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFDE17;
}
.newsRightdate {
	font-family: "Courier New", Courier, monospace;
	font-size: 12px;
	color: #999999;
	text-align: left;
}
.newsRightname {
	font-family: "Times New Roman", Times, serif;
	text-align: left;
	color: #060;
	font-size: 16px;
	font-weight: bold;
	white-space: nowrap;
    overflow: hidden;
	text-overflow: ellipsis;
}
.sideRightTobig {
	text-align: right;
	margin: 5px;
	font-size: 14px;
	font-style: italic;
	color: #060;
}


#tablRight {
	background-color: #FFFFFF;
	margin-top: 10px;
	border: 1px solid #FFDE17;
}
#sitemap {
	font-weight: bold;
	float: left;
	margin-left: 10px;
	padding: 10px;
}
#site_map {
	float: left;
	width: 1000px;
	padding-top: 10px;
}
#sitemap table {
	text-align: left;
}
#sitemap td {
	text-align: left;
	text-indent: 25px;
	text-decoration: none;
}
img {
	border: none;
}
a {
	text-decoration:none;
	color:inherit;
}

/*Для новин*/

#content .box {
	float: left;
	width: 710px;
	border: 1px solid #FFDE17;
	background-color: #FFFFFF;
}

#sideRight .box {
	float: left;
	width: 100%;
}

#sideRight .box .head {
	background-image: url(../img/title_on.gif);
	background-repeat: repeat-x;
	color: #006736;
	font-weight: bold;
	padding: 5px;
	text-transform: uppercase;
	border: 1px solid #FFDE17;
	margin-bottom: 10px;
}
.box .head {
	background-image: url(../img/title_on.gif);
	background-repeat: repeat-x;
	color: #006736;
	font-weight: bold;
	padding: 5px;
	text-transform: uppercase;
	border: 1px solid #FFDE17;}
.box .info {
	background-color: #FFFFFF;
	padding: 5px;
}
.infotime {
	font-size: 12px;
	color: #999999;
	width: 100%;
	text-align: justify;
	margin: 5px;
	font-family: "Courier New", Courier, monospace;
}

.infohead {
	font-size: 20px;
	color: #060;
	text-align: center;
	text-transform: none;
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: Arial, Helvetica, sans-serif;
	text-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}

/*Три класи додані*/
.infobody {
	text-align: justify;
}
/*Два наступних - гіперпосилання в тексті новин і тексті що під заголовом в списку новин виділяються кольором і підкреслюванням*/
.infobody a {
	color: #008000;
	text-decoration: underline;
}

.infotext a {
	color: #008000;
	text-decoration: underline;
}
.infoimg img{
	box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
	border-radius: 5px;
	margin-left: 155px;
	width: 400px;
}
.info .infotext {
	font-family: "Times New Roman", Times, serif;
	color: #000000;
	text-align: justify;
	text-indent: 20px;
	margin: 10px;
}

/*Для списку новин в рубриці*/
.box .list {
	margin: 10px;
	width: 690px;
	border-bottom-width: 1px;
	border-bottom-color: #FFDE17;
	clear: both;
	float: left;
	border-bottom-style: solid;
	padding-bottom: 10px;
}

.listimg img{
	box-shadow: 0px 0px 10px rgba(0,0,0,0.25);
	border-radius: 5px;
	width: 200px;
	float: left;
}
.list .listtext {
	float: left;
	width: 480px;
	margin-left: 10px;
}


/*Для соцмереж*/

#social_icons {
	float: right;
	width: auto;
	padding: 0px;
	overflow: hidden;
}
#social_icons li {
	margin-right: 7px;
	float: left;
	width: 24px;
	padding: 0px;
	height: 24px;
	list-style: none;
	_margin-right: 0px;
	margin-top: 2px;
	margin-bottom: 2px;
}

.teamimage img{
	float: left;
	width: 688px;
	margin-top: 10px;
	margin-right: 11px;
	margin-bottom: 10px;
	margin-left: 11px;
	border: 1px solid #FFDE17;
}
.teambox {
	float: left;
	width: 222px;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 11px;
}
.teamphoto img {
	float: left;
	width: 90px;
	border: 1px solid #FFDE17;	
}
.teamname {
	float: left;
	width: 117px;
	margin-left: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
}
.teamnumber {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 30px;
	color: #060;
	font-weight: bold;
}

